
.container{

  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.textContainer{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: large;
}

.textContainertwo{
    margin: auto;
    width: 30%;
    border: 3px solid rgb(148, 141, 141);
    padding: 65px;
    font-size:large;
  }

