<div class="container">
  <div>
    <h1> About Us </h1>
  </div>



</div>

<div class="textContainer">
  <p> Welcome to Bothnia Papers this is our website</p>
</div>

<div class="textContainertwo">
  <p>
    Bothnia Papers is an online archive of news articles, providing access to a vast collection of historical news
    stories.
    Our mission is to preserve the rich history of journalism and make it easily accessible to researchers,
    historians,
    and anyone interested in exploring the past.

    Our platform is user-friendly and easy to navigate, allowing users to browse through thousands of articles and
    discover the stories that shaped our world. Whether you're researching a specific topic, exploring a particular
    era,
    or simply curious about the news of the past, Bothnia Papers has something for you.

    At Bothnia Papers, we are passionate about history and committed to preserving it for future generations. We
    believe that the stories of the past have the power to inspire, educate, and entertain, and we are proud to play a
    role in keeping those stories alive.
  </p>

</div>
