<p>registeraccount works!</p>
<h1>test</h1>
<p> yay :) </p>

<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="registeraccount.component.css">
</head>
<body>
	<div class="registration-page">
		<div class="form">
			<form class="registration-form">
				<input type="text" placeholder="Company Name"/>
				<input type="email" placeholder="Email"/>
				<input type="password" placeholder="Password"/>
				<input type="password" placeholder="Repeat Password"/>
				<button>Register</button>
				<p class="message">Already registered? <a href="#">Login here</a></p>
			</form>
		</div>
	</div>
</body>
</html>