HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.angular
/.angular/cache
/.angular/*
node_modules
.angular
.angular/cache

.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/2.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/6.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/7.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/8.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/9.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/10.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/11.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/index.pack
.angular/cache/15.2.6/angular-webpack/250cc29ff355bb48d5d9b64dbe401bb4a2123fe2/index.pack.old
