.container{

  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;



}

.textContainer{

  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;


}

.Buttons{
  display: flex;
  justify-content: center;

}

.buttonStyle{
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  border: 0;
  padding: 0.6em 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6em;
  margin: 4px 0.5em;
  cursor: pointer;
  background-color: #2b6c86;
}

.buttonStyle:active{
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  border: 0;
  padding: 0.6em 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6em;
  margin: 4px 0.5em;
  cursor: pointer;
  background: #71a1b4;
  color: #3c2d2d;
}

.buttonStyle:hover{
  background-color: #4099bd;
}

