
<div>
<header>

<div [routerLink]="'Home'">

  <h1>{{title}}</h1>
</div>


<!-- Alla knappar -->

<div>
  <app-button
    [routerLink]="'Home'"
    color= "gray"
    text="Home"
    (btnClick)="goToAboutPage()">
  </app-button>

  <app-button
    [routerLink]="'About'"
    color= "gray"
    text="About"
    (btnClick)="goToAboutPage()">
  </app-button>

  <app-button
    [routerLink]="'Upload-page'"
    color= "gray"
    text="Upload"
    (btnClick)="goToAboutPage()">
  </app-button>

  <app-button
    [routerLink]="'Archive'"
    color= "gray"
    text="Archive"
    (btnClick)="goToAboutPage()">
  </app-button>
</div>

</header>
 </div>
