.textArea{
  margin: auto;
  width: 60%;


}

h1{
  text-align: center;
  margin-top: 2em;
}

.container{
  display: flex;
  justify-content: center;
  }
  
  #search-bar{
  width: 200%;
  max-width: 1000px;
  min-width: 900px;
  background:rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px;
  }

  #search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding: 0.3em;

  }

  ::placeholder{
    color:rgb(168, 168, 168);

  }

  /* Invert styles for elements that should have light text on dark backgrounds */
  h1, h2, h3, h4, h5, h6,
  p, a, span, li, label,
  input, select {
    color: #fcfcfc;
  }

  #search{
    color: rgb(202, 202, 202);
    background-color: rgba(255,255,255,0.2);
    border-radius: 40px;
    padding: 0.6rem 1.2em;
    border: 0px;
    transition: 0.2s;
    margin-top: 1em;
  }

  #search:hover{
    background-color: rgb(188, 188, 188);
    color: rgb(60, 60, 60);
    transition: 0.2s;
  }

  img{
    width: 1.5em;
  }

  #SearchIcon{
  background-color: #ffffff00;
  border: 0;
  }
