<div class="textArea">

  <body>
    <h1>

      Welcome to the Archive page

    </h1>

  </body>

</div>



<div class="container">
  <form action="" class="search-bar">
    <div id="search-bar">
      <input type="text" placeholder="Search for pictures..." name="Q">
      <button type="submit" id="SearchIcon">
        <img src="..\assets\Images/search_icon.png" alt="Picture of search icon"></button>
    </div>
    <button type="submit" id="search" value="Submit">Search</button>
  </form>
</div>

<div action="" class="dotRadioButtons">
  <p>Search Alternativs</p>
  <hr style="width:15%;text-align:left;margin-left:0">
  <input type="radio" id="info" name="info" value="data">
  <label for="metadata">Metadata</label><br>
  <input type="radio" id="text" name="Textcontent" value="textdata">
  <label for="text content">Text content</label><br>
</div><br>
<hr style="width:15%;text-align:left;margin-left:0">
<div action="" class="checkboxOne">
  <p>Categories</p>
  <input type="checkbox" id="category" name="Entertainment">
  <label for="Entertainment">Entertainment</label><br>
  <input type="checkbox" id="category" name="News">
  <label for="News"> News </label><br>
  <input type="checkbox" id="category" name="Politics">
  <label for="Politics"> Politics </label><br>
  <input type="checkbox" id="category" name="Sports">
  <label for="Sports"> Sports </label><br>
  <input type="checkbox" id="category" name="Culture">
  <label for="Culture"> Culture </label><br>
  <input type="checkbox" id="category" name="Economy">
  <label for="Economy"> Economy </label><br>
  <input type="checkbox" id="category" name="Nature">
  <label for="Nature"> Nature </label><br>
  <hr style="width:15%;text-align:left;margin-left:0">
</div>
<div action="" class="checkboxTwo">
  <p>Year</p>
  <input type="checkbox" id="1" name="2023">
  <label for="2023">2023</label><br>
  <input type="checkbox" id="2" name="2022">
  <label for="2022"> 2022 </label><br>
  <input type="checkbox" id="3" name="2021">
  <label for="2021"> 2021 </label><br>
  <input type="checkbox" id="4" name="2020">
  <label for="2020"> 2020 </label><br>
  <input type="checkbox" id="5" name="2019">
  <label for="2019"> 2019 </label><br>
  <input type="checkbox" id="6" name="2018">
  <label for="2018"> 2018 </label><br>
  <input type="checkbox" id="7" name="2017">
  <label for="2017"> 2017 </label><br>
  <hr style="width:15%;text-align:left;margin-left:0">
</div>