.textArea{
  margin: auto;
  width: 60%;


}

.container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
  .search-bar{
  width: 200%;
  max-width: 1000px;
  min-width: 900px;
  background:rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px;
  }

  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color:rgb(255, 255, 255);

  }

  ::placeholder{
    color:white;

  }

  /* Invert styles for elements that should have light text on dark backgrounds */
  h1, h2, h3, h4, h5, h6,
  p, a, span, li, label,
  input, select {
    color: #fcfcfc;
  }

  button{
    color: rgb(202, 202, 202);
    background-color: rgba(255,255,255,0.2);
    border-radius: 40px;
    padding: 0.6rem 1.2em;
    border: 0px;
    transition: 0.2s;
  }

  button:hover{
    background-color: rgb(188, 188, 188);
    color: rgb(60, 60, 60);
    transition: 0.2s;
  }
