

    
    <div class="form-popup" id="myForm">
          <form action="{{image.retrievedImage}}" class="form-container">
          <label for="id"><b> id: {{image.id}}</b></label><br> 
          <label for="title"><b> title: {{image.title}}</b></label><br>  
          <label for="category"><b> category: {{image.category}}</b></label><br>   
          <label for="description"><b> description: {{image.description}}</b></label><br>  
          <label for="tags"><b> tags: {{image.tags}}</b></label>  
        </form>

    
    
    
    
    
    
    
    
    