.btn {
  border: 3px black;
  padding: 15px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #80808000;
  color: #aeaeae;
  transition: 0.2s;
}

.btn:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s;
}
