body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2b6c86;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-form button:hover, .login-form button:active, .login-form button:focus {
    background: #2b6c86;
  }
  
  .login-form .message {
    margin: 15px 0 0;
    color: #000000;
    font-size: 12px;
  }
  
  .login-form .message a {
    color: #2b6c86;
    text-decoration: none;
  }
  
  .login-form .message a:hover {
    text-decoration: underline;
  }
  