
<form>
    <label for="title">Title</label><br>
    <input type="text" class="form-control" id="title" placeholder="Image Title" [(ngModel)]="image.title" name="title"><br><br>
  
    <label for="description">Description</label><br>
    <input type="text" class="form-control" id="description" placeholder="Image description" name="description" [(ngModel)]="image.description"><br><br>
  
    <label for="tags">tags</label><br>
    <input type="text" class="form-control" id="tags" placeholder="Image Tags" name="tags" [(ngModel)]="image.tags"><br><br>
  
    <label for="category">category</label><br>
    <input type="text" class="form-control" id="category" placeholder="Image category" name="category" [(ngModel)]="image.category"><br><br>
  
    <label for="price">Price</label><br>
    <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="image.price"><br>
  
  
    <div class="form-group" *ngIf="image.id == null">
      <!-- only show this field on adding an image -->
      <br>
      <input type="file" (change)="onFileChanged($event)">
      <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
    </div>
    <br><br>
    <button type="button" class="btn btn-success" (click)="saveImage()">Save Image</button>
  </form>
  
