<div class="container row">
  <div class="col-md-12">
      <h1>Upload Image</h1>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">

  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>

<form>
  <label for="name">Title</label>
  <input type="text" class="form-control" id="title" placeholder="Book Name" [(ngModel)]="Image.Title" name="name">

  <label for="author">Description</label>
  <input type="text" class="form-control" id="description" placeholder="author" name="author" [(ngModel)]="book.author">

  <label for="author">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="book.price">
  
  <div class="form-group" *ngIf="book.id == null">
    <!-- only show this field on adding a book -->
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>
  <br><br>
  <button type="button" class="btn btn-success" (click)="saveBook()">Save Book</button>
</form>