/* Invert styles for elements that should have light text on dark backgrounds */
h1, h2, h3, h4, h5, h6,
p, a, span, li, label,
button, input, select {
  color: #fcfcfc;
}

button, input, select, textarea {
  color: #000000;
}

textarea{
  border-radius: 0.2rem;
  background: #f2f2f2;
  padding: 0.4rem;
}

.form_container{
  margin:5em auto;
  width: fit-content;
  padding: 3em;
}

.row{
  width: 100%;
  margin-bottom:2em;
}

.upload{
width: 100%;
text-align: center;
padding: 0.7em;
background: #2b6c86;
color: #FFFFFF;
border-radius: 0.3em;
border:0;
font-size: 1em;
text-transform: uppercase;
transition: 0.15s;
}

.upload:hover{
  width: 100%;
  text-align: center;
  padding: 0.7em;
  background: #71a1b4;
  color: #3c2d2d;
  border-radius: 0.3em;
  border:0;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.15s;
  }

#Titel, #Description{
  width:100%;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: 0;
  background: #f2f2f2;
}



