
<div class="newcontainer"><h1>Welcome to Bothnia!</h1><br></div>

<div class="newcontainer">


<p>
  We're thrilled to have you here, <br><br>Upload your images is super easy and you only need to follow a short few steps:

Best regards,
The Bothnia Team"<br><br>

1. Navigate to the upload page: Here you can view the information that is needed to upload your image.<br><br>

2. Choose the image file: On the upload page, include a file upload button or drag-and-drop area where users can select the image file they want to upload. You can also provide information about supported file formats and size limits.<br><br>

3. Validate the image file: Before proceeding with the upload, perform validation checks on the image file. To ensure that you upload the correct image the uploaded images will be displayed at the bottom left corner, where you can view it. <br><br>

4. Initiate the upload: Once the image file passes validation, initiate the upload process. This typically involves transferring the file from the user's device to the server hosting the Bothnia website.<br><br>

5. Save the image: After processing, press the save image button at the bottom of the form. <br><br>

That's it! By following these steps, users should be able to upload images to your Bothnia website successfully.

</p>


<div class="newcontainer">
  <a class="btn btn-primary mb-3" (click)="addImage()">Add New Image</a>
</div>


<div class="container">



</div>

  <div class="container row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <app-useraddimage *ngIf="action === 'edit' || action === 'add'" [image]="selectedImage" (imageAddedEvent)="refreshData()"></app-useraddimage> <br>

    </div>
  </div>

