
.container{
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: white;


}


.AddNewImageButton{
  height: 30px;
  width: 140px;
  background-color: rgb(76, 186, 219);
  border-radius: 24px;
  text-align: center;
  color: white;
  text-shadow: black 2px;
  padding: 3px;
  margin: 2px;
}

.AddNewImageButton:hover{
  cursor: pointer;
  background-color: rgb(52, 149, 179);
}

.btn-primary{
  height: 30px;
  width: 140px;
  background-color: rgb(43, 118, 141);
  border-radius: 24px;
  text-align: center;
  color: white;
  text-shadow: black 2px;
  padding: 3px;
  margin: 2px;
}

.btn-primary:hover{
  cursor: pointer;
  background-color: rgb(17, 68, 83);
}
